In [1]:
from ravenclaw import example_dataframes
import ravenclaw as rc
import ravenclaw.time as rct
import pandas as pd
import numpy as np

In [7]:
d = example_dataframes.lotr.copy()
d['date2'] = np.where((d['number']>2) & (d['number']<7), None, rct.add_time(t=d['date'], amount=1, unit='day'))
d['date1'] =np.where(d['date']>d['date'][3], d['date'], None)
d

   number  firstname lastname        date       date2       date1
0       0      Frodo  Baggins  2018-06-07  2018-06-08        None
1       1    Aragorn     None  2018-06-08  2018-06-09        None
2       2    Gandalf     None  2018-06-09  2018-06-10        None
3       3    Legolas     None  2018-06-10        None        None
4       4    Saruman     None  2018-06-11        None  2018-06-11
5       5      Bilbo  Baggins  2018-06-12        None  2018-06-12
6       6     Gollum     None  2018-06-13        None  2018-06-13
7       7      Arwen     None  2018-06-14  2018-06-15  2018-06-14
8       8  Galadriel     None  2018-06-15  2018-06-16  2018-06-15
9       9    Boromir     None  2018-06-16  2018-06-17  2018-06-16

In [8]:
rc.min(d[['date1', 'date2']])

0    2018-06-08
1    2018-06-09
2    2018-06-10
3          None
4    2018-06-11
5    2018-06-12
6    2018-06-13
7    2018-06-14
8    2018-06-15
9    2018-06-16
dtype: object

In [10]:
rc.max(d[['date1', 'date2']])

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
dtype: float64

In [12]:
rc.min(d[['date1', 'date2']], axis=0, skip_na=False)

Series([], dtype: float64)

In [13]:
import rc.time

ModuleNotFoundError: No module named 'rc'

In [14]:
import ravenclaw.time as rc.time

SyntaxError: invalid syntax (<ipython-input-14-5dc6db9ce519>, line 1)